<div class="login-page-holder" *ngIf="!dataServ.ReturnLoggedIn()">
    <div class="login-form-section">
        <div class="login-form-header-holder">
            <div class="header">Влез в система</div>
        </div>       
        <div class="input-field-wrapper">    
            <span class="label" for="">Потребител</span>                             
            <input class="field" type="text" [(ngModel)]="username" >    
            <span class="label" for="">Парола</span>                             
            <input class="field" type="text" [(ngModel)]="password" >                  
        </div>
        <div class="button-holder">
            <div class="btn main-btn" (click)=Login()>Вход</div> 
        </div>      
    </div>    
</div>
<div class="side-section" *ngIf="dataServ.ReturnLoggedIn()">
  <div class="projects-logo-holder">
  <div class="projects-logo"></div>
  </div>       
  <ul class="side-list">
      <li class="side-list-item">
          <div class="list-icon home" routerLinkActive="active"></div>
      </li>
      <li class="side-list-item">
          <div routerLink="/projects" class="list-icon projects" routerLinkActive="active"></div>
      </li>     
      <li class="side-list-item">
          <div class="list-icon calendar" routerLinkActive="active"></div>
      </li>                      
  </ul>       
</div>
<div class="content"  *ngIf="dataServ.ReturnLoggedIn()">
    <router-outlet></router-outlet>
</div>
